.book-search-input {
    background: #EFEAEA;
    margin: 16px;
    border: none;
    border-radius: 25px;
    height: 24px;
    padding: 8px;
    width: 180px;
    font-size: 18px;
}

.book-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    text-align: center;
}

h4, h3 {
    margin: 8px;
}

.searchType {
    height: 48px;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgray;
}

.blue {
    background: #4995C1;
    color: white;
}

.searchTypeHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 800px) {
    .results {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}