.nav {
    height: 48px;
    background: #4995C1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px;
}

.tinylogo {
    width: 40px;
}

.logout {
    color: white;
    width: 70px;
    background: #4995C1;
    border: solid white 2px;
    text-align: center;
    font-size: 18px;
}